.App {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App__Body {
  @apply p-8 lg:max-w-[1000px] lg:mx-auto;
}

.App__Notes {
  @apply text-xl text-[#282c34];
  @apply bg-[#bbb];
}
